<%- include("layouts/header") %>
        <main>
            <h1>Welcome to Category Page!!</h1>
            <div class="card-cont">
                <% for(category of categories) { %>
                    <div class="card">
                        <ul class="card-body">
                            <li class="card-item card-title">
                                <%= category.categoryName %>
                            </li>
                            <li class="card-item">
                                <%= category.categoryId %>
                            </li>
                            <li class="card-item">
                                <a href="/category/edit/<%=category.categoryId %>">Edit</a>
                            </li>
                            <li class="card-item">
                                <a href="/category/delete">Delete</a>
                            </li>
                        </ul>
                    </div>
                <% } %>
            </div>
        </main>
    </body>
</html>