<%- include("layouts/header") %>  

<main>
    <% if(errors) { %>
        <% for (error of errors) { %>
            <div class="error-message">
                <p><%= error.msg %></p>
                <!-- <p><a href="#">Close</a></p> -->
            </div>
        <% } %>
    <% } %>
    <h1>Welcome to Edit Category Page!!!</h1>
    <form 
    action="/category/update/<%=category.categoryId%>" method="POST"
    class="form-container"
    >
    <div class="form-group">
        <label 
        class="form-label" 
        for="categoryName">Category Name:</label>
        <input 
        class="form-input"
        type="text" 
        id="categoryName" 
        name="categoryName" 
        value="<%= category.categoryName %>" 
        required>
    </div>
        <button class="form-button" type="submit">Update</button>
    </form>
</main>
</body>
</html>